@import url('https://fonts.googleapis.com/css?family=Belleza');

$color: #fffffe;

html, body {
  margin: 0;
  font-family: Belleza !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color;
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  height: 100%;
  position: relative;
}

code {
  font-family: Belleza;
}

button {
  width: fit-content;
  height: fit-content;
  margin: 5px;
  border: 1px solid #616161;
  background-color: #fdfdfd;
  &:hover {
    background-color: #acacac;
  }
}

#root {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 40px;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}
